{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="css/style.css") }}'>
    <form action="" method="post">
            <h1>Регистрация</h1>
        {{ form.hidden_tag() }}
        <p>
            Логин<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">Пожалуйста, используйте другое имя</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=64) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">Пожалуйста, используйте другой адрес</span>
            {% endfor %}
        </p>
        <p>
            Пароль<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">Ошибка. Неизвестная ошибка</span>
            {% endfor %}
        </p>
        <p>
            Подтверждение пароля<br>
            {{ form.password2(size=32) }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">Пароли не совпадают</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
